body {
	background-color: #1c93e5;
}

.header {
	color: ivory;
	font-size: 30px;
	text-align: center;
}

#chart {
	align-content: center;
}

.boxes {
	/* background-color: lightcoral; */
	text-align: center;
}
